Django==5.0.6
Pillow==10.4.0
python-dotenv==1.2.1
stripe==9.11.0
django-crispy-forms==2.2
crispy-tailwind==1.0.3
whitenoise==6.7.0
gunicorn==22.0.0
dj-database-url==3.1.2
psycopg2-binary==2.9.9
sqlparse==0.5.5
asgiref==3.11.1